alias dcbuild="docker compose build --build-arg USER_ID=$(id -u) --build-arg GROUP_ID=$(id -g)"
alias dcbuildnc="docker compose build --no-cache --build-arg USER_ID=$(id -u) --build-arg GROUP_ID=$(id -g)"
alias dcup="docker compose up -d"
alias dcd="docker compose down --remove-orphans"
alias dcrun="dcbuild && dcup"
alias config-update="cd ~/dev-config && sh config-update.sh && cd ~"
alias pbc=" php bin/console"
alias pcc="php bin/console cache:clear"

dcexec() {
    docker exec -it $1 bash
}
